// =========
// sob ====

.sob {
  padding: 115px 0 100px;

  &__title {
    margin-bottom: 30px;
    font-family: var(--font-dis);
    font-weight: 800;
    font-size: 66px;
    line-height: 80px;
    text-transform: uppercase;
    color: #fff;
  }

  &__links {
    margin-bottom: 50px;

    &-item {

      &-link {
        font-family: var(--font-dis);
        font-weight: 800;
        font-size: 50px;
        line-height: 84px;
        text-transform: uppercase;
        background-color: #e8c862;
        background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &_empty {
          -webkit-text-stroke-color: #d3a93e;
          -webkit-text-stroke-width: 1px;
          color: #d3a93e00;
          background: transparent;
        }
      }
    }
  }

  &__sliders {
    display: flex;
    justify-content: space-between;
  }

  &__slider {
    position: relative;
    max-width: 520px;
    width: 100%;

    &-city,
    &-date {
      position: relative;
      padding-left: 55px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 28px;
        height: 28px;
      }
    }

    &-city {
      margin-bottom: 15px;
      font-family: var(--font-dis);
      font-weight: 600;
      font-size: 28px;
      line-height: 33px;
      color: #fff;

      &::before {
        background: url(../img/sob-icon-1.svg) center / cover no-repeat;
      }
    }

    &-date {
      display: flex;
      align-items: flex-end;
      margin-bottom: 60px;

      &::before {
        top: 8px;
        background: url(../img/sob-icon-2.svg) center / cover no-repeat;
      }

      &-number,
      &-month,
      &-year {
        font-family: var(--font-dis);
        color: #fff;
      }

      &-number {
        margin-right: 15px;
        font-weight: 800;
        font-size: 88px;
        line-height: 84px;
        text-transform: uppercase;
      }

      &-additional {
        display: flex;
        flex-direction: column;
      }

      &-month,
      &-year {
        line-height: 26px;
      }

      &-month {
        font-weight: 600;
        font-size: 26px;
      }

      &-year {
        font-weight: 400;
        font-size: 16px;
      }
    }

    &-article {

      &-img {
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        max-height: 250px;
        object-fit: contain;
      }

      &-title {
        margin-bottom: 10px;
        font-family: var(--font-dis);
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
        color: #fff;
      }

      &-item {
        position: relative;
        padding-left: 19px;
        font-family: var(--font-dis);
        font-size: 16px;
        line-height: 28px;
        color: #fff;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 10px;
          border-radius: 50%;
          width: 5px;
          height: 5px;
          background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
        }
      }
    }

    &-buttons {

      &-button {
        position: absolute;
        right: 0;
        top: 70px;
        z-index: 2;
        cursor: pointer;
        transition: transform;

        &_none {
          display: none;
        }

        &_prev {
          right: 48px;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &-item {
      max-width: 520px;
      width: 100%;
    }

    &:first-child {
      margin-right: 50px;
    }
  }

  &__scrollbar {
    position: absolute;
    top: 155px;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(196, 196, 196, 0.2);

    .swiper-scrollbar-drag {
      border-radius: 1px;
      height: 3px;
      background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
    }
  }
}

@media screen and (max-width: 1150px) {
  .sob {

    &__sliders {
      display: block;
      justify-content: center;
    }

    &__slider {
      max-width: none;

      &-item {
        max-width: none;
      }

      &:first-child {
        margin: 0;
        margin-bottom: 150px;
      }
    }
  }
}

@media screen and (max-width: 975px) {
  .sob {

    &__slider {

      &-city,
      &-date {
        padding-left: 30px;

        &::before {
          width: 16px;
          height: 16px;
        }
      }

      &-city {
        margin-bottom: 7px;
        font-size: 20px;
        line-height: 23px;
      }

      &-date {

        &-number {
          margin-bottom: 9px;
          font-size: 56px;
          line-height: 54px;
        }

        &-month {
          font-size: 20px;
          line-height: 16px;
        }

        &-year {
          padding-bottom: 6px;
          font-size: 12px;
          line-height: 32px;
        }
      }

      &-buttons {

        &-button {
          top: 35px;
        }
      }

      &:first-child {
        margin-bottom: 90px;
      }
    }

    &__scrollbar {
      top: 130px;
    }
  }
}

@media screen and (max-width: 815px) {
  .sob {

    &__slider {

      &-article {

        &-title {
          font-size: 18px;
          line-height: 26px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sob {

    &__title {
      margin-bottom: 20px;
      font-size: 40px;
      line-height: 45px;
    }

    &__links {
      margin-bottom: 40px;

      &-item {

        &-link {
          font-size: 28px;
          line-height: 42px;

          &_empty {
            -webkit-text-stroke-width: 0.5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 695px) {
  .sob {

    &__slider {

      &-date {
        margin-bottom: 38px;
      }

      &:first-child {
        margin-bottom: 38px;
      }
    }

    &__scrollbar {
      top: 105px;
    }
  }
}

@media screen and (max-width: 500px) {
  .sob {
    padding-bottom: 75px;

    &__links {

      &-item {

        &-link {
          font-size: 26px;
        }
      }
    }
  }
}

// sob ====
// =========