.modal {
  z-index: 120;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease-in;
  transform: scale(1.2);
}

.modal.active {
  display: block;
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}

.modal,
.modal__dark {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal.modal-overflow-scroll {
  overflow: hidden;
  overflow-y: scroll;
}

.modal__dark {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1119;
}

.modal__dark.modal-overflow-scroll {
  position: relative;
  padding:  50px 0;
}

.modal__body {
  max-width: 910px;
  width: 100%;
}