@import url(../fonts/stylesheet.css);
/* End import fonts */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

button {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background: transparent; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

a:hover {
  color: #fff; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* End Reset */
:root {
  --font-dis: 'SF UI Display', sans-serif;
  --color-white: #fff;
  --color-black: #000; }

body,
html {
  overflow-x: hidden; }

body {
  background: #0b1f2a; }

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1420px; }

.btn-gold {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 5px;
  padding: 13px 28px 16px;
  text-align: center;
  background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%); }
  .btn-gold::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
    width: 100%;
    height: 100%;
    background: var(--color-black);
    transition: transform 0.3s;
    transform: translateX(-101%); }
  .btn-gold__text {
    position: relative;
    z-index: 2;
    font-family: var(--font-dis);
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #0B1F2A;
    transition: color 0.3s; }
  .btn-gold:hover::before {
    transform: translate(0); }
  .btn-gold:hover .btn-gold__text {
    color: #B57E10; }

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 20px 0;
  width: 100%; }
  .header__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 21px;
    cursor: pointer; }
    .header__burger-item {
      border-radius: 10px;
      width: 100%;
      height: 2px;
      background: #fff;
      pointer-events: none;
      user-select: none; }
  .header__close {
    display: none; }
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__logo {
    width: 138px;
    height: 72px;
    transition: opacity 0.3s; }
    .header__logo.active {
      opacity: 0; }
    .header__logo-link {
      display: block;
      width: 100%;
      height: 100%; }
    .header__logo-img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .header__right {
    display: flex;
    align-items: center; }
  .header__list {
    display: flex;
    align-items: center;
    margin-right: 168px; }
    .header__list-item {
      position: relative; }
      .header__list-item::before {
        content: '';
        position: absolute;
        width: 0;
        transition: width 0.3s, opacity 0.3s; }
      .header__list-item::before {
        left: 0;
        bottom: -5px;
        height: 2px;
        background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%); }
      .header__list-item:not(:last-child) {
        margin-right: 63px; }
      .header__list-item:hover::before {
        width: 100%; }
    .header__list-link {
      font-family: var(--font-dis);
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #fff; }
      .header__list-link_img {
        display: flex;
        align-items: center; }
    .header__list-icon {
      margin-right: 7px;
      width: 14px;
      height: 16px;
      object-fit: contain; }

@media screen and (max-width: 1400px) {
  .header__list {
    margin-right: 40px; } }
@media screen and (max-width: 1230px) {
  .header__list-item:not(:last-child) {
    margin-right: 30px; } }
@media screen and (max-width: 1100px) {
  .body-header-blur {
    position: relative; }
    .body-header-blur::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      z-index: 4;
      width: 100%;
      height: 100vh;
      background: rgba(11, 31, 42, 0.8);
      backdrop-filter: blur(10px);
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s; }
    .body-header-blur.active::before {
      opacity: 1;
      pointer-events: auto; }

  .header {
    z-index: 4; }
    .header__burger {
      display: flex; }
    .header__close {
      position: absolute;
      right: 20px;
      top: 30px;
      z-index: 5;
      display: block;
      width: 19px;
      height: 19px;
      cursor: pointer; }
      .header__close img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
    .header__right, .header__list {
      align-items: stretch; }
    .header__right {
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      padding: 32px 20px 10px 30px;
      width: 260px;
      height: 100vh;
      background: #0B1F2A;
      transition: transform 0.3s;
      transform: translateX(100%); }
      .header__right.active {
        transform: translate(0); }
    .header__list {
      flex-direction: column;
      margin-right: 0;
      margin-bottom: 30px; }
      .header__list-item::before {
        display: none; }
      .header__list-item_prof {
        order: -1;
        border-bottom: 1px solid #172a35;
        margin-bottom: 28px;
        padding-bottom: 26px; }
      .header__list-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 21px; } }
@media screen and (max-width: 575px) {
  .header {
    padding: 15px 0; }
    .header__logo {
      width: 121px;
      height: 63px; } }
.hero {
  position: relative;
  padding: 338px 0 88px;
  background: url(../img/first-bg.jpg) center/cover no-repeat; }
  .hero::before, .hero::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    transform: rotate(-180deg); }
  .hero::before {
    top: 0;
    height: 633px;
    background: linear-gradient(178.14deg, rgba(11, 31, 42, 0) 1.59%, rgba(11, 31, 42, 0.67) 98.45%); }
  .hero::after {
    bottom: 0;
    height: 545px;
    background: linear-gradient(179.52deg, #0B1F2A 25.33%, rgba(11, 31, 42, 0) 99.59%); }
  .hero__content, .hero__top {
    position: relative;
    z-index: 2; }
  .hero__top {
    margin-bottom: 78px; }
  .hero__subtext {
    display: block;
    margin-bottom: 16px;
    font-family: var(--font-dis);
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.6em;
    text-transform: uppercase;
    color: #fff; }
  .hero__run {
    position: relative;
    overflow: hidden;
    font-family: var(--font-dis);
    font-weight: 700;
    font-size: 120px;
    line-height: 143px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: #e8c862;
    background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 10.3s linear; }
@keyframes slidein {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-80%); } }
  .hero__aim {
    position: relative;
    margin-bottom: 60px;
    padding-left: 200px;
    font-family: var(--font-dis);
    font-size: 32px;
    line-height: 52px;
    color: #fff; }
    .hero__aim::before {
      content: '';
      position: absolute;
      left: 80px;
      top: -48px;
      width: 184px;
      height: 184px;
      background: url(../img/aim.svg) center/contain no-repeat; }
    .hero__aim_underline {
      position: relative; }
      .hero__aim_underline::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background: var(--color-white); }
    .hero__aim_gold, .hero__aim_bold {
      font-weight: 800;
      text-transform: uppercase; }
    .hero__aim_gold {
      background-color: #e8c862;
      background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .hero__bottom-teach {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .hero__teach {
    margin-left: calc(80px + (430 - 80) * ((100vw - 992px) / (1440 - 992))); }
    .hero__teach-text {
      font-family: var(--font-dis);
      font-size: 50px;
      line-height: 52px;
      color: var(--color-white); }
      .hero__teach-text_gold {
        font-weight: 800;
        text-transform: uppercase;
        background-color: #e8c862;
        background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  .hero__phone {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #24353f;
    border-radius: 50%;
    width: 78px;
    height: 78px; }
    .hero__phone::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -3px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
      transform: translateY(-50%);
      transition: transform 0.3s; }
    .hero__phone::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid #24353f;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      animation: phoneAnim 1.9s infinite cubic-bezier(0, 1.68, 0.94, -0.5); }
@keyframes phoneAnim {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(3); } }
    .hero__phone:hover::before {
      transform: translateY(-50%) scale(2); }
    .hero__phone-container {
      display: flex;
      align-items: center;
      padding-right: 90px; }
    .hero__phone-text {
      position: relative;
      z-index: 2;
      margin-right: 25px;
      padding-top: 20px; }
      .hero__phone-text-white, .hero__phone-text-gray {
        display: block; }
      .hero__phone-text-white {
        margin-bottom: 3px;
        font-family: var(--font-dis);
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: right;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #fff; }
      .hero__phone-text-gray {
        font-family: var(--font-dis);
        font-size: 15px;
        line-height: 18px;
        color: #546269; }

@media screen and (max-width: 992px) {
  .hero {
    padding: 240px 0 80px; }
    .hero__top {
      margin: 0 auto;
      margin-bottom: 43px;
      padding: 0 20px;
      max-width: 1420px; }
    .hero__subtext {
      margin-bottom: 0;
      max-width: 370px;
      font-size: 15px;
      line-height: 30px;
      text-align: left; }
    .hero__run {
      overflow: unset;
      font-size: 45px;
      line-height: 50px; }
    .hero__aim {
      padding-left: 45px; }
      .hero__aim::before {
        left: 15px;
        top: -23px;
        width: 109px;
        height: 109px; }
    .hero__bottom-teach {
      flex-direction: column;
      align-items: flex-start; }
    .hero__teach {
      margin-left: 0; }
      .hero__teach-text {
        margin-bottom: 45px;
        padding-left: 80px;
        font-size: 26px;
        line-height: 22px; }
    .hero__phone-container {
      padding: 0;
      padding-left: 45px; }
  @keyframes phoneAnim {
    0% {
      opacity: 1;
      transform: scale(1); }
    100% {
      opacity: 0;
      transform: scale(2); } } }
@media screen and (max-width: 600px) {
  .hero {
    padding: 151px 0 60px; }
    .hero__aim {
      font-size: 20px;
      line-height: 30px; } }
@media screen and (max-width: 500px) {
  .hero__subtext {
    font-size: 13px;
    line-height: 26px; }
  .hero__aim {
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 26px; } }
.footer {
  background: #0b1f2a; }
  .footer__content {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #1a2c36;
    padding: 53px 20px 60px; }
  .footer__logo {
    max-width: 167px; }
    .footer__logo-link {
      display: block;
      margin-bottom: 79px;
      width: 138px;
      height: 72px; }
    .footer__logo-img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
    .footer__logo-text {
      font-family: var(--font-dis);
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF; }
  .footer__title {
    margin-bottom: 24px;
    font-family: var(--font-dis);
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #fff; }
  .footer__contact {
    max-width: 260px; }
    .footer__contact-text {
      margin-bottom: 6px;
      font-family: var(--font-dis);
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #fff; }
    .footer__contact-link {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      font-family: var(--font-dis);
      font-size: 16px;
      line-height: 19px;
      background-color: #e8c862;
      background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      .footer__contact-link-img {
        margin-right: 10px; }
    .footer__contact-social {
      display: flex;
      align-items: center; }
      .footer__contact-social-link:not(:last-child) {
        margin-right: 23px; }
  .footer__info {
    max-width: 243px; }
    .footer__info-link {
      font-family: var(--font-dis);
      font-size: 16px;
      line-height: 32px;
      color: #828282;
      transition: color 0.3s; }
  .footer__cta {
    max-width: 293px; }
    .footer__cta-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #23353f;
      border-radius: 5px;
      padding: 0 16px; }
    .footer__cta-input {
      outline: none;
      border: 0;
      border-radius: 0;
      margin: 0;
      padding: 12px 0 14px;
      font-family: var(--font-dis);
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      color: #888;
      background: transparent; }
    .footer__cta-button {
      cursor: pointer; }
    .footer__cta-text {
      display: none; }

@media screen and (max-width: 1024px) {
  .footer__content {
    display: grid;
    grid-gap: 27px;
    grid-template-columns: auto auto auto; }
  .footer__logo-text {
    display: none; }
  .footer__cta-text {
    display: block;
    margin-top: 18px;
    max-width: 167px; } }
@media screen and (max-width: 810px) {
  .footer__content {
    grid-template-columns: auto auto;
    justify-content: normal; } }
@media screen and (max-width: 580px) {
  .footer__content {
    grid-template-columns: 1fr; }
  .footer__logo-link {
    margin: 0; } }
.abon {
  padding: 70px 0 50px; }

.acc-content {
  display: none; }

.card {
  border-radius: 8px;
  padding: 31px 45px;
  max-width: 557px;
  background: url(../img/card-bird-1.svg) top right/264px 280px no-repeat #000; }
  .card__status {
    margin-bottom: 10px;
    font-family: var(--font-dis);
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    background-color: #e8c862;
    background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .card__per {
    display: inline-block;
    margin-bottom: 64px;
    padding: 7px 11px;
    font-family: var(--font-dis);
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
    background: #191919; }
  .card__acc.active .card__acc-heading img {
    transform: scale(1, -1); }
  .card__acc-content {
    margin-top: 70px; }
  .card__acc-container {
    overflow: auto !important;
    height: 520px; }
    .card__acc-container::-webkit-scrollbar {
      width: 6px; }
    .card__acc-container::-webkit-scrollbar-track {
      width: 6px;
      background: rgba(255, 255, 255, 0.07);
      border-radius: 5px; }
    .card__acc-container::-webkit-scrollbar-thumb {
      background: #FFFFFF;
      border-radius: 5px; }
  .card__acc-heading {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .card__acc-heading-text {
      margin-right: 10px;
      font-family: var(--font-dis);
      font-size: 16px;
      line-height: 26px;
      color: #fff; }
    .card__acc-heading img {
      transition: transform 0.3s; }
  .card__block {
    border-bottom: 1px solid #0d0d0d;
    padding: 20px 0;
    padding-right: 20px; }
    .card__block-title {
      font-family: var(--font-dis);
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF; }
    .card__block-heading {
      display: flex;
      align-items: center;
      margin-bottom: 14px; }
    .card__block-item {
      position: relative; }
      .card__block-item.empty {
        pointer-events: none;
        user-select: none; }
        .card__block-item.empty span {
          color: #373737; }
          .card__block-item.empty span::before {
            background: #373737; }
      .card__block-item-heading {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .card__block-item-heading span {
          position: relative;
          padding-left: 13px;
          font-family: var(--font-dis);
          font-size: 16px;
          line-height: 26px;
          color: #fff; }
          .card__block-item-heading span::before {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            background: linear-gradient(289.3deg, #B57E10 -33.65%, #B57E10 4.46%, #E5C35C 83.65%, #F9DF7B 121.36%, #FFF3A6 148.55%, #F9DF7B 178.47%, #B57E10 219.27%); }
          .card__block-item-heading span span {
            color: #373737; }
            .card__block-item-heading span span::before {
              display: none; }
        .card__block-item-heading img {
          width: 16px;
          height: 16px;
          object-fit: contain;
          cursor: pointer;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.3s; }
        .card__block-item-heading:hover img {
          opacity: 1;
          pointer-events: auto; }
      .card__block-item-content {
        position: absolute;
        right: 6px;
        top: calc(100% + 10px);
        z-index: 10;
        border-radius: 5px;
        padding: 15px 26px 15px 18px;
        max-width: 334px;
        background: #0D0F10;
        pointer-events: none;
        display: none;
        transition: opacity 0.3s; }
        .card__block-item-content::after {
          content: '';
          position: absolute;
          right: 0;
          top: -10px;
          width: 19px;
          height: 14px;
          background: url(../img/triangle.svg) center/contain no-repeat; }
        .card__block-item-content p {
          font-family: var(--font-dis);
          font-weight: 300;
          font-size: 13px;
          line-height: 20px;
          color: #fff; }
      .card__block-item:not(:last-child) {
        margin-bottom: 5px; }
    .card__block:first-child {
      border-top: 1px solid #0d0d0d; }
  .card__que {
    position: relative;
    margin-left: 7px;
    width: 18px;
    height: 18px; }
    .card__que-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer; }
    .card__que-tool {
      position: absolute;
      left: 6px;
      top: calc(100% + 14px);
      z-index: 10;
      border-radius: 5px;
      padding: 15px 26px 15px 18px;
      width: 268px;
      background: #0D0F10;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s; }
      .card__que-tool::after {
        content: '';
        position: absolute;
        left: 0;
        top: -10px;
        width: 19px;
        height: 14px;
        background: url(../img/triangle.svg) center/contain no-repeat;
        transform: scale(-1, 1); }
      .card__que-tool.active {
        opacity: 1;
        pointer-events: auto; }
      .card__que-tool p {
        font-family: var(--font-dis);
        font-weight: 300;
        font-size: 13px;
        line-height: 20px;
        color: #fff; }
  .card__button {
    margin-top: 27px; }

/*# sourceMappingURL=style.css.map */
